[include]
path = .gitconfig.alias
path = .gitconfig.local
[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
[credential "helperselector"]
selected = manager
[core]
editor = code --wait
autocrlf = false
ignorecase = false
[alias]
rebasedate = rebase --committer-date-is-author-date
date = show -s --format=%aI
pushf = push --force
stashk = stash -u -k
ss = "!git status -s -u; git stash -u -m \"snapshot: $(date)\" -q && git stash apply \"stash@{0}\" --index -q"
sss = "!git status -s -u; git stash -u -m \"snapshot: $(date)\" -q"
ssr = "!git status -s -u && git stash -u -m \"snapshot: before restoring\" -q && echo \"=>\" && git restore . -s stash@{0} && git status -s -u && git stash apply -q"
st = status
s = switch
sc = switch -c
clone-lean = clone --depth 1 --filter=blob:none --no-checkout
[init]
defaultBranch = main
[push]
followTags = true
