dist
node_modules
chezmoi-collate.jsonl

dotfiles/.gitconfig.local
dotfiles/.secrets.sh
dotfiles/.wslconfig
dotfiles/**/*.machine.json
dotfiles/**/*.machine.yaml
dotfiles/**/*.machine.toml
dotfiles/.agents/skills.exact/local/
undotfiles/nix/flake.lock
