dist
node_modules

dotfiles/.gitconfig.local
dotfiles/**/*.build-machine.ts
dotfiles/**/*.apply-machine.ts
dotfiles/**/external.data-machine.yaml
dotfiles/.secrets.sh
dotfiles/.wslconfig
dotfiles/**/*.merge-machine.json
dotfiles/**/*.merge-machine.yaml
dotfiles/**/*.merge-machine.toml
dotfiles/.agents/skills.exact/local/
undotfiles/nix/flake.lock
